@charset "utf-8"
@import "../dependencies/bulma/bulma.sass"
@import "../dependencies/bulma-tooltip/src/sass/index.sass"

$page-margin: 32px
$footer-spacing: 4%

.hero
    .hero-head
        .navbar-burger
            color: white
    .hero-body
        .p-icon
            &
                padding-top: 12vh
            &, + .p-icon
                padding-left: 8vw
                padding-right: 8vw
            a
                svg
                    width: 8vh
                    height: 8vh
                    color: white
        #down-arrow
            &
                animation: bounce 5s infinite 5s
            svg
                width: 6vh
                height: 6vh

.icon + .icon
    margin-left: 8pt

@keyframes bounce
    0%, 10%, 100%
        top: 0vh
    5%
        top: 4vh

#footer
    padding-top: 32px
    padding-bottom: 32px

#blog-post
    .blog-tags-container,
    .blog-categories-container
        a
            color: whitesmoke
    #content
        @extend .content
        @media screen and (max-width: $widescreen)
            margin-top: $page-margin
            margin-left: $page-margin
            margin-right: $page-margin
        @media screen and (min-width: $widescreen)
            min-width: 60%
            max-width: 60%
            margin-top: $page-margin
            margin: auto
        .gutter
            width: 5%
        .highlight
            overflow: auto
            .title
                font-size: 1em
            .keyword
                color: blue
            .comment
                color: green
            .params
                color: black
            .title
                color: black
                font-weight: bold
            .string
                color: salmon

#disqus_thread
    margin-left: $page-margin
    margin-right: $page-margin

#AboutMe
    padding: 16px
    @media screen and (min-width: $tablet)
        margin-top: 16px
    article
        &
            @media screen and (max-width: $tablet)
                margin-bottom: 32px
                border-bottom: solid black
            @media screen and (min-width: $tablet)
                border-right: solid black
        a
            color: magenta
            text-decoration: underline

#timeline
    padding-top: 16px
    .line
        height: 32px
        margin-left: 50%
        margin-top: 16px
        margin-bottom: 0px

        & + .tag
            margin-top: 16px
            margin-bottom: 8px

    .solid
        border-left: solid magenta 4px

    .dotted
        border-left: dotted magenta 4px

.no-link
    &
        text-decoration: none !important
        cursor: pointer
    &:hover
        text-decoration: underline !important
        cursor: pointer

.fa-link
    animation-name: rumble
    animation-delay: 1s
    animation-duration: 5s // 1s runtime + 4s pause
    animation-iteration-count: infinite

@keyframes rumble
    0%, 10%, 20%, 100%
        rotate: 0deg
    7.5%, 12.5%
        rotate: 15deg

.code-line
    display: block
    clear: both

    .code-line-number
        display: block
        clear: both
        float: left
        width: 32px
        text-align: right
        padding-right: 8px
        border-right: 1px solid DarkGray

    .code-line-text
        display: block
        margin-left: 42px

#contact
    svg
        &, path, *
            fill: black
            width: 48px
            height: 48px
