<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Blog-Post view page">
        <meta name="author" content="@Sakul6499 | Lukas Weber">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@Sakul6499 | Lukas Weber</title>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>