@charset "utf-8"
@import "../../node_modules/bulma/bulma.sass"

.hero
    .hero-head 
        .navbar-burger
            color: white
    .hero-body
        .icon
            &
                padding-top: 16vh
            &, + .icon
                @media screen and (max-width: $desktop)
                    padding-left: 8vw
                    padding-right: 8vw
                @media screen and (min-width: $desktop)
                    padding-left: 4vw
                    padding-right: 4vw
            a
                svg 
                    width: 8vh
                    height: 8vh
                    color: white
        #down-arrow
            &
                padding-top: 24vh
                animation: bounce 5s infinite 5s
            svg
                width: 6vh
                height: 6vh

@keyframes bounce
    0%, 10%, 100%
        top: 0vh
    5%
        top: 4vh

#index 
    margin-top: 8px
    #sidebar
        padding-right: 16px
    #excerpts 
        .message
            padding-left: 8px
            .message-header
                &, *
                    text-decoration: none
                    color: white
                span
                    *
                        text-decoration: none
                    *:hover
                        text-decoration: underline
        *
            text-decoration: none
            color: black
            .excerpt_link
                text-decoration: underline
                color: blue

$footer-spacing: 4%
#footer
    padding-bottom: 32px
    span
        padding-left: $footer-spacing
        padding-right: $footer-spacing
    a
        margin-left: $footer-spacing
        margin-right: $footer-spacing
        background-color: whitesmoke
        font-weight: bold
        border-radius: 8%
        border-width: 1px
        border-color: whitesmoke
        border-style: solid
        color: black
        padding: 0
        padding-top: 10px
        height: 48px
    a:hover
        color: white
        background-color: black

.heart
    color: red
    font-size: 2.5vw