<%=/* SideBar Widget: About */%>
<%=/* Displays a little message about me and my blog at the side. */%>

<% if(theme.widgets.about) { %>
<div class="sidebar-module sidebar-module-inset">
  <h1 class="subtitle">About</h1>
  <p>Hello, World!</p>
  <p>Welcome to my blog/website.</p>
  <br />
  <p>
    I am primarily using this platform as a notepad for my findings and ideas,
    but I also intent to inform and share information with others.
  </p>
  <br />
  <p>Please don't hesitate to interact with me.</p>
</div>
<% } %>
