<%=/* Footer */%>
<%=/* Little footer for ending a page and giving some additional information, as well as links. */%>

<hr>
<div class="container has-text-centered" id="footer">
    <div class="columns">
        <a href="/credit" class="column">Credits</a>
        <span>Made with <span class="heart">&hearts;</span> by @Sakul6499</span>
        <a href="/legal" class="column">Legal</a>
    </div>
</div>