<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="title is-5"><%= config.title %></span>
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <% for (var i in theme.menu){ %>
            <a
              class="blog-nav-item navbar-item"
              href="<%- url_for(theme.menu[i]) %>"
            >
              <%= i %>
            </a>
            <% } %>
          </div>
        </div>
      </nav>
    </nav>
  </div>
</div>
