$tablet: 768px;

#title-text {
  background-color: #202020;
  padding: 10px;
  border-radius: 6px;
  border-style: solid;
  border-color: #191919;
  border-width: 2px;

  z-index: 3;
  position: absolute;
  top: 64px;

  @media screen and (max-width: $tablet) {
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
  }
  @media screen and (min-width: $tablet) {
    left: 32px;
    width: 386px;
  }
}

#icons {
  position: absolute;

  @media screen and (max-width: $tablet) {
    top: 256px;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    top: 216px;
    left: 22px;
  }

  height: 32px;

  a {
    border-radius: 100%;
    border-width: 1px;
    border-color: #323232;
    border-style: solid;

    background-color: #363636;

    width: 32px;
    height: 32px;

    @media screen and (max-width: $tablet) {
      margin-left: 4px;
      margin-right: 4px;
    }
    @media screen and (min-width: $tablet) {
      margin-left: 16px;
      margin-right: 16px;
    }

    z-index: 4;

    text-align: center;

    svg {
      width: 48px;
      height: 48px;

      color: white;
    }
  }
}

#title-page {
  background: #191919;
}

#binary {
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: 3;

  font-size: 2em;
  letter-spacing: 4px;
  text-align: right;
  overflow: hidden;

  background: linear-gradient(90deg, transparent, #fff, transparent);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#down-icon {
  position: absolute;
  top: calc(100% - 106px);
  left: calc(50% - 32px);

  color: whitesmoke;
  animation: icon-color-anim 5s infinite, bounce 5s infinite 5s;

  svg {
    width: 64px;
    height: 64px;
  }
}

@keyframes bounce {
  0%,
  10%,
  100% {
    top: calc(100% - 106px);
  }
  5% {
    top: calc(100% - 128px);
  }
}
