<%# Body %>
<%# Segment of the HTML body tag %>
<%# Defines the main layout of the page-body. %>
<%# Note: Most of the actual layout is in `layout.ejs`! %>

<body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
</body>