<body>
    <%- partial('_partial/header') %>
    <div class="columns">
        <div class="column">
            <%- body %>
        </div>
        <div class="column is-2">
            <%- partial('_partial/sidebar') %>
        </div>
    </div>
    <%- partial('_partial/footer') %>
</body>