<section class="columns has-text-centered" id="AboutMe">
  <article class="column">
    <div>
      <u class="is-half is-family-code has-text-underlined">
        About me
      </u>
      {% set now = now() %}
      {% set current_year = now | date(format="%Y") | int %}
      {% set current_month = now | date(format="%m") | int %}
      {% set current_day = now | date(format="%d") | int %}
      {% set birth_year = 1999 %}
      {% set age = current_year - birth_year %}
      {% if current_month < 4%} {% set age=age - 1 %} {% elif current_day < 6 %} {% set age=age - 1 %} {% endif %} <p>
        Hello there! My name is Lukas
        Weber and I am {{ age }} years old. </p>
        <p>
          I am from Germany and study <i>Software Engineering</i> in the Netherlands. This is my place to share my
          thoughts, ideas and findings about various topics.
        </p>
        <p>My goal is to provide interesting and helpful resources for others.</p>
    </div>
    {% include "components/timeline.html" %}
  </article>
  {% include "components/skills.html" %}
</section>