{% extends "components/base.html" %}

{% block content %}
<div id="contact">
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <p class="title">Contact</p>
        <p class="subtitle">How to get in contact with me?</p>
      </div>
    </div>
  </section>
  <div>
    <div class="columns mx-2 my-2">
      <div class="column card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                {% include "components/svg/mail.html" %}
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Mail</p>
              <p class="subtitle is-6">
                <a href="mailto:l.weber@sakul-flee.de" class="has-text-grey-dark">
                  me@sakul-flee.de
                </a>
              </p>
            </div>
          </div>
          <div class="content">
            <p>Please use my email <b>only</b> for professional and content related contact requests.</p>
            <p>Encrypted messages are preferred!</p>
            Check out my <a
              href="https://keys.openpgp.org/vks/v1/by-fingerprint/8D06E501A6AF1FCF3AD0BECBDECCEB57F104C497">public
              key</a>.

            <br />
            <br />
            <br />

            <p>For privacy and take down requests please use <a
                href="mailto:privacy@sakul-flee.de">privacy@sakul-flee.de</a>!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
