{% extends "components/base.html" %}

{% block content %}
<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column">
        <div id="title-text">
          <h1 class="title has-text-danger is-family-code">
            Hello, world!
          </h1>
          <h2 class="has-text-white subtitle">
            I am @Sakul6499 | @SakulFlee | Lukas Weber.
          </h2>
          <p class="has-text-white is-family-code">
            Software Engineer Student
          </p>
        </div>

        <div class="is-vcentered">
          <ul>
            <li class="icon p-icon">
              {% include "components/svg/github.html" %}
            </li>
            <li class="icon p-icon">
              {% include "components/svg/gitlab.html" %}
            </li>
          </ul>
          <ul>
            <li class="icon p-icon">
              {% include "components/svg/bitbucket.html" %}
            </li>
            <li class="icon p-icon">
              {% include "components/svg/mail.html" %}
            </li>
          </ul>
          <div class="buttons columns mt-6">
            <a href="/blog" class="button is-large is-white is-outlined column is-4">
              <span class="icon is-large">
                <i class="fas fa-book"></i>
              </span>
              <span>Blog</span>
            </a>
            <span class="column"></span>
            <a href="/projects" class="button is-large is-white is-outlined column is-4 is-pulled-right">
              <span class="icon is-large">
                <i class="fas fa-code-branch"></i>
              </span>
              <span>Projects</span>
            </a>
          </div>

          {% include "components/scroll-down.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include "components/about_me.html" %}
{% endblock content %}