{% extends "components/base.html" %}

{% block content %}
<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column">
        <div id="title-text">
          <h1 class="title has-text-danger is-family-code">
            Hello, world!
          </h1>
          <h2 class="has-text-white subtitle">
            I am @SakulFlee | Lukas Weber.
          </h2>
          <p class="has-text-white is-family-code">
            Software Engineer Student
          </p>
        </div>
      </div>

      <div class="is-vcentered mt-6 pt-6">
        <img class="pl-2 pr-2" src="https://img.shields.io/badge/Forgejo-Projects-orange?style=for-the-badge&logo=forgejo&link=https%3A%2F%2Fforgejo.sakul-flee.de%2FSakulFlee%2F" alt="Badge">
        <img class="pl-2 pr-2" src="https://img.shields.io/badge/GitHub-Mirror-blue?style=for-the-badge&logo=github&link=https%3A%2F%2Fgithub.com%2FSakulFlee%2F" alt="Badge">
        <img class="pl-2 pr-2" src="https://img.shields.io/badge/Contact-Mail-purple?style=for-the-badge&logo=gmail&link=mailto%3Al.weber%40sakul-flee.de" alt="Badge">
        <img class="pl-2 pr-2" src="https://img.shields.io/badge/LinkedIn-Profile-blue?style=for-the-badge&logo=linkedin&link=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fsakulflee%2F" alt="Badge">
      </div>

      <div class="is-vcentered mt-6 pt-6">
        <div class="is-vcentered mt-6 pt-6">
          {% include "components/scroll-down.html" %}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% include "components/about_me.html" %}
{% endblock content %}
