{% extends "components/base.html" %}

{% block content %}
<article id="blog-post">
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ page.title }}
        </h1>
        <h2 class="subtitle">
          {{ page.description }}
        </h2>

        <div class="columns">
          <div class="column is-half has-text-left">
            <p><b>Categories</b></p>
            {% if 'categories' in page.taxonomies %}
            <span>
              {% for category in page.taxonomies['categories'] %}
              <a href="/categories/{{ category }}" class="tag is-success">
                {{ category }}
              </a>
              {% endfor %}
            </span>
            {% else %}
            <span class="tag">None</span>
            {% endif %}
          </div>
          <div class="column is-half has-text-right has-text-left-mobile">
            <p><b>Tags</b></p>
            {% if 'tags' in page.taxonomies %}
            <span>
              {% for tag in page.taxonomies['tags'] %}
              <a href="/tags/{{ tag }}" class="tag is-danger">
                {{ tag }}
              </a>
              {% endfor %}
            </span>
            {% else %}
            <span class="tag">None</span>
            {% endif %}
          </div>
        </div>

        <span class="columns has-text-centered">
          <p class="column is-4">Published on: {{ page.date }}</p>
          <p class="column is-4">Word count: {{ page.word_count }}</p>
          <p class="column is-4">Estimated reading time: {{ page.reading_time }} {% if page.reading_time == 1 %} minute
            {% else %} minutes {% endif %}</p>
        </span>
      </div>
    </div>
  </section>

  <div class="card m-4">
    <div class="card-content content">
      {{ page.content | safe }}
    </div>
  </div>
</article>
{% endblock content %}