{% for page in paginator.pages %}
<div class="card m-4">
  <div class="card-content">
    <p class="title">
      {{ page.title }}
    </p>
    <p class="subtitle">
      {{ page.description }}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      Published on: {{ page.date }}
    </p>
    <p class="card-footer-item">
      Word Count: {{ page.word_count }}
    <p class="card-footer-item">
      Reading time: {{ page.reading_time }} {% if page.reading_time == 1 %} minute {% else %} minutes {% endif %}
    </p>
    <p class="card-footer-item">
      <span>
        {% if 'categories' in page.taxonomies %}
        {% for category in page.taxonomies['categories'] %}
        <a href="/categories/{{ category }}" class="tag is-success">
          {{ category }}
        </a>
        {% endfor %}
        {% endif %}

        {% if 'tags' in page.taxonomies %}
        {% for tag in page.taxonomies['tags'] %}
        <a href="/tags/{{ tag }}" class="tag is-danger">
          {{ tag }}
        </a>
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="{{ page.path }}">Read more</a>
      </span>
    </p>
  </footer>
</div>
{% endfor %}