<nav class="pagination is-centered pt-2" role="navigation" aria-label="pagination">
  <ul class="pagination-list columns">
    <li class="column is-2">
      {% if paginator.previous %}
      <a class="button" href="{{ paginator.previous }}" aria-label="previous page">⏮️ Previous Page</a>
      {% else %}
      <a class="button" aria-label="previous page (disabled)" disabled>⏮️ Previous Page</a>
      {% endif %}
    </li>
    <li class="column is-1">
      {{ paginator.current_index }} / {{ paginator.number_pagers }}
    </li>
    <li class="column is-2">
      {% if paginator.next %}
      <a class="button" href="{{ paginator.next }}" aria-label="next page">Next Page ⏭️</a>
      {% else %}
      <a class="button" aria-label="next page (disabled)" disabled>Next Page ⏭️</a>
      {% endif %}
    </li>
  </ul>
</nav>