<aside class="column">
  <u class="is-half is-family-code has-text-underlined tooltip is-tooltip-active has-tooltip-info has-text-black is-tooltip-active"
    data-tooltip="Hover over my tags!">
    Skills
  </u>

  <h1 class="is-size-5 has-text-black">Languages I speak:</h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="My native language.">German</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="My secondary language! B1 LCCI Business Certificate/B2 school english">English</div>

    <br />

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-small is-tooltip-multiline"
      data-tooltip="I am studying in the netherlands! Basic dutch is a must, although I mainly only understand ...">
      Dutch</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-small is-tooltip-multiline"
      data-tooltip="Not fluent but an very interesting and different language!">Japanese</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-small is-tooltip-multiline"
      data-tooltip="Only very basic sentences and definetely not fluent!">Spanish</div>
  </section>

  <h1 class="is-size-5 has-text-black">Languages I <s>speak</s> code:</h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-large is-tooltip-multiline"
      data-tooltip="Rust focuses on security, while maintaining speeds similar or sometimes even better than C/C++/Native solutions!">
      Rust 🦀❤️</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="JVM languages and tools like Java, Kotlin, Maven and Gradle">Java 🍵</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-medium is-tooltip-multiline"
      data-tooltip="The classic native tools">C/C++</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-large is-tooltip-multiline"
      data-tooltip="HTML5, CSS4, JS9, PHP, Ruby, ...">WEB 🌐</div>

    <div class="tag is-half is-family-code tooltip is-dark has-tooltip-dark is-medium is-tooltip-multiline"
      data-tooltip="Focus on writing instead of designing office documents">LaTeX</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Shell scripts are a must.">[Z|Ba]SH + PWSH</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-large is-tooltip-multiline has-text-black"
      data-tooltip="DataScience without Python is a no-go!">Python</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-small is-tooltip-multiline"
      data-tooltip=".NET's main language">C#</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="A Java based language!">Kotlin</div>

    <div class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-small is-tooltip-multiline"
      data-tooltip="A Java based language!">Haskell</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-small is-tooltip-multiline"
      data-tooltip="A Java based language!">Prolog</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-small is-tooltip-multiline"
      data-tooltip="A Java based language!">R</div>
  </section>

  <h1 class="is-size-5 has-text-black">Tools I use:</h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="GIT">GIT</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-small is-tooltip-multiline"
      data-tooltip="SubVersion">SVN</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-large is-tooltip-multiline"
      data-tooltip="Visual Studio Code">VSCode</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-medium is-tooltip-multiline"
      data-tooltip="MS Visual Studio with VC++">VisualStudio and VC++</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="IntelliJ IDEA, Clion, Dadivrip, WebStorm, PyCharm, PHPStorm, Rider, ...">JetBrains IDEs</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-normal is-tooltip-multiline"
      data-tooltip="The classic CLI editor with a twist!">[N]VIM</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-large is-tooltip-multiline has-text-black"
      data-tooltip="One of the best C/C++ meta generators">CMake</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-large is-tooltip-multiline has-text-black"
      data-tooltip="The classic Make and variants">[Q]Make</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-large is-tooltip-multiline has-text-black"
      data-tooltip="Perfect for Java!">Gradle + Maven + Ant</div>


    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-medium is-tooltip-multiline"
      data-tooltip="Oracle's Java IDE">NetBeans</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-large is-tooltip-multiline"
      data-tooltip="Better and free alternative to VisualParadigm">Draw.io</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-small is-tooltip-multiline"
      data-tooltip="All-in-one modelling and management software">VisualParadigm</div>

    <div class="tag is-half is-family-code tooltip is-dark has-tooltip-dark is-medium is-tooltip-multiline"
      data-tooltip="Open source and proprietary office product solutions">Office-Suites</div>

    <div
      class="tag is-half is-family-code tooltip is-white has-tooltip-white is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Windows Subsystem for Linux; A match made in heaven!" style="border: 1px solid black">WSL</div>

    <div
      class="tag is-half is-family-code tooltip is-white has-tooltip-white is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Containerization has too many benefits to be ignored" style="border: 1px solid black">Docker +
      Kubernetes</div>

    <div
      class="tag is-half is-family-code tooltip is-white has-tooltip-white is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Test environments are key to ensure configurations are production-ready"
      style="border: 1px solid black">VirtualBox +
      VMware Workstation & ESXi</div>

    <div
      class="tag is-half is-family-code tooltip is-white has-tooltip-white is-medium is-tooltip-multiline has-text-black"
      data-tooltip="The most powerful universally free virtualization technology, coupled with UIs"
      style="border: 1px solid black">KVM + QEMU + Proxmox + LibVirt</div>

    <div
      class="tag is-half is-family-code tooltip is-white has-tooltip-white is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Containers without Docker!" style="border: 1px solid black">LXC</div>
  </section>

  <h1 class="is-size-5 has-text-black">
    Frameworks I am familiar with:
  </h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-medium is-tooltip-multiline"
      data-tooltip="Standard unit and integration testing library and suite for Java based languages">JUnit</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-normal is-tooltip-multiline"
      data-tooltip="Mockito extends JUnit with useful additions and prevents overhead while testing">Mockito</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-normal is-tooltip-multiline"
      data-tooltip="RESTAssured extends JUnit by providing easy ways to test and validate REST API server and clients">
      RESTAssured</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-small is-tooltip-multiline"
      data-tooltip="Standard unit and integration testing library and suite for C/ C++ based languages">GTest</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-large is-tooltip-multiline has-text-black"
      data-tooltip="An awesome open-source framework for building websites with flex and other tools, which is also highly extendable and modifiable. This website is build with it! Similar to bootstrap.">
      Bulma</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Responsive, mobile-first, framework for website projects. Similar to Bulma.">Bootstrap</div>

    <div class="tag is-half is-family-code tooltip is-primary has-tooltip-primary is-medium is-tooltip-multiline"
      data-tooltip="An easy to use and highly optimized Java WebServer with many possibilities">Spring.io</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="Single page websites!">ReactJS</div>

    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="NodeJS">NPM</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-large is-tooltip-multiline"
      data-tooltip="Rocket.rs WebFramework, Server, Client, ...">Rocket</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-large is-tooltip-multiline"
      data-tooltip="Rocket.rs WebFramework, Server, Client, ...">Blazor</div>
  </section>

  <h1 class="is-size-5 has-text-black">
    Operating Systems I <strike>work on</strike> build for:
  </h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-large is-tooltip-multiline"
      data-tooltip="My primary operating system! Mainly Manjaro but also self-installed arch.">ArchLinux</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="Ubuntu and other Debian based distribution!">Ubuntu + Debian-based</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="OpenSource version of RedHat's Enterprise Linux">CentOS + Rocky</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-link is-medium is-tooltip-multiline"
      data-tooltip="Powerful OpenSource Linux">OpenSUSE</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-small is-tooltip-multiline"
      data-tooltip="Linux based distribution, made for security testing and hacking">KaliLinux</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-medium is-tooltip-multiline has-text-black"
      data-tooltip="Microsoft's operating system. While not being a huge fan of it I still use it often.">Windows</div>

    <div class="tag is-half is-family-code tooltip is-primary has-tooltip-primary is-small is-tooltip-multiline"
      data-tooltip="Apple's operating system. Very similar to Linux; sometimes porting applications there.">macOS
    </div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-large is-tooltip-multiline"
      data-tooltip="WebAssembly">WASM</div>
  </section>

  <h1 class="is-size-5 has-text-black">
    Other topics I am interested in:
  </h1>
  <section class="column is-mobile is-centered tags">
    <div class="tag is-half is-family-code tooltip is-success has-tooltip-success is-large is-tooltip-multiline"
      data-tooltip="I think brains are mysterious and so interesting. AI tries to reverse-engineer that! How can one not be interested in AI?">
      AI</div>

    <div class="tag is-half is-family-code tooltip is-danger has-tooltip-danger is-medium is-tooltip-multiline"
      data-tooltip="I like to find bugs and security problems in existing and still developing systems to then fix or report them. Activities include Pen-Testing and CTFs.">
      Hacking</div>

    <div
      class="tag is-half is-family-code tooltip is-warning has-tooltip-warning is-normal is-tooltip-multiline has-text-black"
      data-tooltip="'Internet of Things' devices are electronics that are connected with the internet">IoT</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-large is-tooltip-multiline"
      data-tooltip="I really enjoy having no creative limits and simply create something others might like. Sadly I haven't finished any games yet ...">
      Game Development</div>

    <div class="tag is-half is-family-code tooltip is-info has-tooltip-info is-large is-tooltip-multiline"
      data-tooltip="Being creative is one of my biggest interests">3D Modelling / Design</div>

    <div class="tag is-half is-family-code tooltip is-link has-tooltip-link is-large is-tooltip-multiline"
      data-tooltip="Being creative is one of my biggest interests">Security</div>
  </section>

  <div class="has-text-grey tooltip has-tooltip-danger" data-data-tooltip="Click to see more!">
    <Link to="/blog">And much more on my <a href="/blog">blog</a> ...</Link>
  </div>
</aside>