<a href="<%=theme.profile.gitea%>">
    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="512" height="512"
        viewBox="0 0 135.46667 135.46667" version="1.1" id="svg8" sodipodi:docname="gitea.svg"
        inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)" inkscape:export-filename="" inkscape:export-xdpi="48.000004"
        inkscape:export-ydpi="48.000004">
        <defs id="defs2" />
        <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
            inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:zoom="1" inkscape:cx="223.04716"
            inkscape:cy="249.58151" inkscape:document-units="mm" inkscape:current-layer="g4539" showgrid="false"
            units="px" width="256px" showguides="false" inkscape:window-width="1259" inkscape:window-height="876"
            inkscape:window-x="635" inkscape:window-y="81" inkscape:window-maximized="0"
            inkscape:pagecheckerboard="true" inkscape:measure-start="283.373,243.952"
            inkscape:measure-end="290.267,236.527" inkscape:snap-others="true">
            <sodipodi:guide position="0,0" orientation="0,512" id="guide3699" inkscape:locked="false" />
            <sodipodi:guide position="135.46667,0" orientation="-512,0" id="guide3701" inkscape:locked="false" />
            <sodipodi:guide position="135.46667,135.46667" orientation="0,-512" id="guide3703"
                inkscape:locked="false" />
            <sodipodi:guide position="0,135.46667" orientation="512,0" id="guide3705" inkscape:locked="false" />
        </sodipodi:namedview>
        <metadata id="metadata5">
            <rdf:RDF>
                <cc:Work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-161.53334)"
            style="display:inline">
            <path
                style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:3.77952766;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 104.73047 127.05859 C 68.648932 126.95579 20.298572 152.752 22.972656 217.4043 C 27.151052 318.42687 119.18656 327.79821 155.98047 328.60938 C 160.01709 347.55829 203.30695 412.91412 235.35742 416.35742 L 375.77734 416.35742 C 459.97626 410.05374 523.03038 130.03284 476.28711 128.96875 C 398.98906 133.06139 353.16495 135.11897 313.875 135.46484 L 313.875 222.875 L 301.625 216.79102 L 301.54492 135.51172 C 256.44986 135.4942 216.75859 133.14179 141.42188 128.96875 C 131.99175 128.86821 118.84932 127.09888 104.73047 127.05859 z M 109.83789 162.7793 C 111.24089 162.76 112.67685 162.76914 114.14648 162.80859 C 119.25405 214.56042 127.58553 244.83872 144.45117 291.09961 C 101.42929 285.41244 64.817942 271.35334 58.083984 218.87305 C 54.602116 191.73755 66.344923 163.37736 109.83789 162.7793 z M 275.91992 213.70312 C 279.25667 213.55522 282.68151 214.21538 285.9082 215.7832 L 366.80469 255.08984 C 377.13009 260.10687 381.40374 272.4578 376.38672 282.7832 L 337.08008 363.68164 C 332.06305 374.00704 319.71212 378.2807 309.38672 373.26367 L 228.48828 333.95508 C 218.16288 328.93805 213.88923 316.58712 218.90625 306.26172 L 258.21484 225.36523 C 261.66405 218.26652 268.57908 214.02852 275.91992 213.70312 z "
                transform="matrix(0.26458333,0,0,0.26458333,0,161.53334)" id="path3722" />
        </g>
        <g inkscape:groupmode="layer" id="layer2" inkscape:label="Layer 2" style="display:inline" />
        <g inkscape:groupmode="layer" id="layer3" inkscape:label="Layer 3" style="display:inline">
            <g style="display:inline" id="g4539">
                <circle transform="rotate(-19.796137)" r="3.4745038" cy="90.077766" cx="49.064713" id="path4606"
                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332;stroke-opacity:1" />
                <circle transform="rotate(-19.796137)" r="3.4745038" cy="102.1049" cx="36.810425" id="path4606-3"
                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332;stroke-opacity:1" />
                <circle transform="rotate(-19.796137)" r="3.4745038" cy="111.43928" cx="46.484283" id="path4606-1"
                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.26458332;stroke-opacity:1" />
                <rect transform="rotate(26.024158)" y="18.061695" x="97.333458" height="27.261492" width="2.6726954"
                    id="rect4629-8"
                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.27444693;stroke-opacity:1" />
                <path sodipodi:nodetypes="cc" inkscape:connector-curvature="0" id="path4514"
                    d="m 76.558096,68.116343 c 12.97589,6.395378 13.012989,4.101862 4.890858,20.907244"
                    style="fill:none;stroke:#ffffff;stroke-width:2.68000007;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
        </g>
    </svg>
</a>