#wire-frame {
    z-index: 0;
    width: 100%;
    height: calc(100% - 48px);
    position: absolute;
}

$frame-color: rgba(0, 0, 0, 0.5);
#start-frame {
    background-color: $frame-color;
    border-color: $frame-color;
    border-radius: 15px;
    border-style: hidden;
    padding: 5%;
}