.icon-animation {
    svg {
        animation: icon-color-anim 12s infinite;
    }
}

@keyframes icon-color-anim {
    from {
        color:rgb(0, 0, 0);
    }
    16% {
        color: rgb(255, 0, 0);
    }
    32%  {
        color: rgb(255, 255, 0);
    }
    50% {
        color: rgb(255, 255, 255);
    }
    66% {
        color: rgb(0, 255, 255);
    }
    82% {
        color: rgb(0, 0, 255);
    }
    to {
        color: rgb(0, 0, 0);
    }
}

@keyframes pulse {
    from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}

@keyframes glow {
    from {
        border-radius: 25%;
        border-width: 5px;
        border-color: #363636;
        border-style: solid;
    }
    50% {
        border-radius: 0%;
        border-width: 5px;
        border-color: #363636;
        border-style: solid;
    }
    to {
        border-radius: 25%;
        border-width: 5px;
        border-color: #363636;
        border-style: solid;
    }
}

@keyframes hover {
    from {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(3vw, -2vh);
    }
    50% {
        transform: translate(-3vw, 4vh);
    }
    75% {
        transform: translate(2vw, -8vh);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes color {
    from {
        background-color: crimson;
    }
    33% {
        background-color: greenyellow;
    }
    66% {
        background-color: deepskyblue;
    }
    to {
        background-color: crimson;
    }
}