<%# Legal %>
<%# Displays legal information about the owner (me) and this page. %>

<div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-dark">
      <p class="title">Legal Disclosure</p>
      <div class="content columns">
        <div class="column is-half">
          <div class="is-size-5 is-family-code">Responsible person /</div>
          <div class="is-size-5 is-family-code">
            Information in accordance with §5 German Telemedia Act (TMG)
          </div>
          Lukas Weber<br />
          Yorckstraße 8<br />
          41061 Mönchengladbach<br />
          Germany
          <br />
        </div>
        <div class="column is-half">
          <div class="is-size-5 is-family-code">Contact information</div>
          <span>
            E-Mail: <a href="mailto:me@sakul6499.de">me@sakul6499.de</a>
          </span>
          <br />
          <span>
            Telephone: +49 (0) 157 56 189 612
          </span>
          <br />
          <br />
          I prefer to be contacted via e-mail where I can answer within a
          reasonable time-frame.
        </div>
      </div>
    </article>
  </div>

  <div class="columns">
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <div class="content">
            <div class="is-size-5 is-family-code">
              Copyright
            </div>
            Content, data and information published on this website are
            subjected to the german copyright laws.<br />
            Reproduction, editing, distributing as well as the use of any other
            use outside the copyright law are strictly forbidden and require a
            written permission of the author. <br /><br />
            This excludes links to this website (e.g. sharing of an article with
            another audience), using articles as references (e.g. for your own
            projects) or other creative uses.
            <br /><br />
            However, generally applies:<br />
            I am doing this not only for myself, but to share information,
            strategies, code, projects and ideas with others. As long as our
            goals are the same, there will be no issues at all. You are allowed
            to use the projects and code from my website, as long as you:
            <ul>
              <li>
                Credit me, my work and a way of contacting me (e.g. use the link
                to the project or post you are using/referencing)
              </li>
              <li>
                Inform me (e.g. via
                <a href="mailto:me@sakul6499.de">e-email</a>) that you are using
                or referencing my content in any way
              </li>
              <li>
                Accept and adhere to the license of that post and/or project
              </li>
            </ul>
            <b
              >Single posts and projects may exclude and differ from this if
              stated differently on the project or post page.</b
            >
          </div>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-link">
          <div class="content">
            <div class="is-size-5 is-family-code">
              CloudFlare
            </div>
            This website integrates components of
            <a href="https://www.cloudflare.com/">CloudFlare</a>.
            <br />
            <a href="https://www.cloudflare.com/">CloudFlare</a> is used as:
            <ul>
              <li>
                a CDN (Content-Delivery-Network); One place for getting the
                entire website
              </li>
              <li>a cache for faster response-time</li>
              <li>
                an optimization platform (Rocket Loader; See below) for
                optimized builds
              </li>
              <li>a domain and DNS controller, used for faster routing</li>
              <li>as a server shield against attacks</li>
            </ul>
            To provide these features, <b>all traffic</b> is routed through
            <a href="https://www.cloudflare.com/">CloudFlare</a>.
            <a href="https://www.cloudflare.com/">CloudFlare</a> itself uses
            several technologies to shield and optimize, such as their
            <a
              href="https://blog.cloudflare.com/we-have-lift-off-rocket-loader-ga-is-mobile/"
              >Rocket Loader</a
            >.
            <br />
            Additionally,
            <a href="https://www.cloudflare.com/">CloudFlare</a> is collecting
            minimal, anonymised, usage data of <b>all traffic</b> passing
            through them. This data is only kept for a limited time frame and
            only visible to the owner. Although, the same data can be collected
            on the servers.
            <br />
            For further information, please consider
            <a href="https://www.cloudflare.com/">CloudFlare</a>'s
            <a href="https://www.cloudflare.com/privacypolicy/"
              >privacy policy</a
            >.
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="content">
            <div class="is-size-5 is-family-code">
              Liability for content
            </div>
            We are liable for our <b>own</b> content on this website according
            to §7¶1 German Telemedia Act (TMG). However, according to §8-10
            German Telemedia Act (TMG) service providers are not obligated to
            permanently monitor submitted and/or stored information, as well as
            searching for evidences that indicate illegal activities.
            <br /><br />
            Legal obligations to remove or block the use of certain information
            remains excluded from this. In such a case, a liability is only
            possible from the time of knowledge about a specific violation of
            law. Illegal content will be removed immediately after knowledge of
            them.
            <br /><br />
          </div>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <div class="content">
            <div class="is-size-5 is-family-code">
              Disqus
            </div>
            <a href="https://disqus.com/">Disqus</a> offers a discussion and
            commenting platform as a scripted add-on tool for websites.
            <br />
            Simpler said: <a href="https://disqus.com/">Disqus</a> enabled
            comments on blog posts! <br /><br />
            <a href="https://disqus.com/">Disqus</a> is in full control of your
            data, nothing is stored on my servers. Furthermore, links to
            internal and external pages, as well as social media sides, are
            provided by <a href="https://disqus.com/">Disqus</a> or
            <a href="https://disqus.com/">Disqus</a> users.
            <br />
            Content (i.e. comments) are posted by
            <a href="https://disqus.com/">Disqus</a> users. I will periodically
            screen those, but it should be clear that they are
            <b>not my content</b>.
            <br />
            For further information, please consider
            <a href="https://disqus.com/">Disqus</a>'
            <a
              href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy"
              >privacy policy</a
            >. <br /><br />
            This feature of my blog is fully optional.
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div class="content">
            <div class="is-size-5 is-family-code">
              Liability for links
            </div>
            This website might contain links to external websites and services
            of third-parties. We can and will not guarantee for there content.
            <br /><br />
            The linked websites of said third-parties have been checked for
            possible violations and illegal activities at the time of the
            establishment of the link and nothing could be found. However,
            permanent monitoring of linked websites cannot be imposed without
            reasonable indications that there has been a violation of law.
            Illegal links will be removed immediately after acknowledging them.
            <br /><br />
          </div>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <div class="is-size-5 is-family-code">
            Liability for third-party software, libraries and solutions
          </div>
          Furthermore, used third-party software, libraries and software, as
          described in <a href="/credits.html">credits</a>, and links in any
          form to said third-party services are <b>not</b> guaranteed to work,
          are <b>not</b> guaranteed to provide only legal content and are
          <b>not</b> guaranteed to work with the same terms as this website.
          <br />
          Terms of service apply from used third-parties solutions.
        </article>
      </div>
    </div>
  </div>
</div>
